build/
node_modules/
**/.idea
dist/
node_modules/
**/package-lock.json
/bin/
\.vscode/tasks\.json
src/
bin/
.classpath
.project
drawer.js
graph.js
graph.txt
gulpfile.js
material.css
style.css
DiagramJS.iml
compile.bat
tslint.json
tsconfig.json
test.json
save-commands.json