.search{
	background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' style='cursor:hand;' height='16'%3E%3Cpath style='fill:#007fff;' d='M 9.5,7.8 C 9.3,8.1 9,8.4 8.7,8.8 8.3,9.1 7.9,9.4 7.6,9.5 L 13.6,15.2 15.5,13.5 9.5,7.8 Z'%3E%3C/path%3E%3Ccircle style='fill:none;stroke:#007fff;stroke-width:1;' cx='5' cy='5' r='4'%3E%3C/circle%3E%3C/svg%3E") no-repeat right center;
	border-radius:6px;
	padding:2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width:100%;
}
.sort{
	cursor:pointer;
}
.sort:hover:after{
	content: '';
	float: right;
	margin-top: 4px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
}

.sort.asc:after{
	content: '';
	float: right;
	margin-top: 6px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	opacity:0.4;
}
.sort.desc:after{
	content: '';
	float: right;
	margin-top: 6px;
	border-width:4px 4px 0;
	border-style: solid;
	border-color: #404040 transparent;
	opacity:0.4;
}
