.search{
	background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' style='cursor:hand;' height='16'%3E%3Cpath style='fill:#007fff;' d='M 9.5,7.8 C 9.3,8.1 9,8.4 8.7,8.8 8.3,9.1 7.9,9.4 7.6,9.5 L 13.6,15.2 15.5,13.5 9.5,7.8 Z'%3E%3C/path%3E%3Ccircle style='fill:none;stroke:#007fff;stroke-width:1;' cx='5' cy='5' r='4'%3E%3C/circle%3E%3C/svg%3E") no-repeat right center;
	border-radius:6px;
	padding:2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width:100%;
}
.sort{
	margin-top: 8px;
	cursor:pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.sort:after{
	cursor:pointer;
	content: '';
	float: right;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #fff transparent;
	margin-top: 10px;
}
.sort:hover:after{
	border-width: 0 4px 4px;
	border-color: #404040 transparent;
	opacity:0.4;
}

.sort.asc:after{
	border-width: 0 4px 4px;
	border-color: #404040 transparent;
	opacity:1;
}
.sort.desc:after{
	border-width:4px 4px 0;
	border-color: #404040 transparent;
	opacity:1;
}
.sort.over {
	border: 2px dashed #000;
	border-left: 2px solid red;
}
.resize{
	border:0;
	width: 10px;
	padding:0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-right:1px solid black;
	cursor:ew-resize;
}
.resize:hover{
	border-right:1px dotted black;
}
.tableOption{
	background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath style='stroke-linejoin:round;stroke:#000000;stroke-width:0.5px;' d='M 1 1 L 15 1 L 1 1 z M 1 8 L 15 8 L 1 8 z M 1 15 L 15 15 L 1 15 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	background-color:#FAFAFA;
	width:16px;
	height:16px;
	content:'';
	cursor:pointer;
}
.tableOption.over {
	border: 2px dashed #000;
	border-left: 2px solid red;
}
.tableOption:hover {
	background-color: #CCC;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right:0;
	float:right;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.resizebody{
}
.resizebody:hover{
}
.online {
	background-color: green;
	border:1px solid black;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	float:left;
}

.offline {
	background-color: red;
	border:1px solid black;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	float:left;
}
.lang {
	padding-left:30px;
}
.onlineStatus {
	top:0px;
	margin:10px;
	float:right;
	background-color:#CCC;
	height:20px;
	padding:5px;
	width:60px;
	border-radius: 20px;
}
.selectedItem{
	margin: 1px 2px 1px 1px;
	padding: .1em .4em .1em .4em;
	line-height: 1.5em;
	float: left;
	position: relative;
	border-color: #ceced2;
	border-radius:5px;
	list-style-type:none;
	background-color:#f3f3f4;
	background-image:none, linear-gradient(rgba(255, 255, 255, 0.45) 0px, rgba(255, 255, 255, 0) 100%);
}
.selectedList {
	float: left;
}
.selectedInput {
	width:"100%";
	height:20px;
}
.selectedItem:hover {
	background-color:#bebec3;
}
.selectedItem:after{
	content: "x";
	margin-left:10px;
	font-weight:bolder;
	cursor:pointer;
}
.hide {visibility:hidden;position:absolute;}
